<div class="right-title">
  <h3>文章排行</h3>
    <span>TOP ARTICLES</span>
</div>
<div class="right-content">
  <ul>
    <foreach name="rankNews" item="News" key="k">
      <li class="num{$k+1} curr">
        <a target="_blank" href="__MODULE__/detail/index/id/{$News.news_id}">{$News.title}</a>
        <if condition="$k eq 0">
          <div class="intro">
            {$News.description}
          </div>
        </if>
      </li>
    </foreach>
  </ul>
</div>
<foreach name="adNews" item="News">
  <div class="right-hot">
    <a target="_blank" href="__MODULE__/detail/index/id/{$News.news_id}" title="{$News.title}">
      <img src="{$News.thumb}" alt="{$News.title}">
    </a>
  </div>
</foreach>