<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<title>sing资讯</title>
  	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
  	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/index.css">
  	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/global.css">
</head>
<body>
	<include file="index/header" barMenus="$barMenus" curId="{$curId}"/>
	<section>
	    <div class="container">
	      	<div class="row">
		        <div class="col-sm-9 col-md-9">
		        	<div class="news-detail">
		        		<h1>{$NewsInfo.title}</h1>
		        			{$NewsInfo.content}
		        	</div>
		        </div>
		        <div class="col-sm-3 col-md-3">
		        	<include file="index/right" adNews="$adNews" />
		        </div>
	    	</div>
	    </div>
    </section>
</body>
</html>